[build]
  publish = "public"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api/:splat"
  status = 200

[[redirects]]
  from = "/section/*"
  to = "/section.html"
  status = 200

[[redirects]]
  from = "/admin"
  to = "/admin.html"
  status = 200
